$cherry-red: rgb(153, 0, 17);
$off-white: rgb(251, 244, 243);
$royal-blue: rgb(0, 83, 156);
$peach: rgb(238, 164, 127);
$blue: rgb(47, 60, 126);
$pink: rgb(251, 234, 235);
$lime-green: rgb(204, 243, 129);
$electric-blue: rgb(72, 49, 212);
$lavender: rgb(226, 209, 249);
$teal: rgb(49, 119, 115);
